<div class="sidebar">
    <div class="side-content">
        <div class="profile">
            <div class="profile-img bg-img" style="background-image: url('/images/3.jpeg')"></div>
            <h4>David Green</h4>
            <small>ADMIN</small>
        </div>

        <div class="side-menu">
            <ul>
                <li>
                    <a href="">
                        <span class="las la-home"></span>
                        <small>Dashboard</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-user-alt"></span>
                        <small>Lịch hẹn</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-envelope"></span>
                        <small>Bệnh nhân</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-clipboard-list"></span>
                        <small>Ca trực</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-shopping-cart"></span>
                        <small>Hóa đơn</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-tasks"></span>
                        <small>Nhân viên</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>