<div class="sidebar">
    <div class="side-content">
        <div class="profile">
            <div class="profile-img bg-img" style="background-image: url('/images/3.jpeg')"></div>
            <h4>David Green</h4>
            <small>ADMIN</small>
        </div>

        <div class="side-menu">
            <ul>
                <li>
                    <a href="/">
                        <span class="las la-home"></span>
                        <small>Trang chủ</small>
                    </a>
                </li>
                <li>
                    <a href="/medicines">
                        <span class="las la-user-alt"></span>
                        <small>Thuốc</small>
                    </a>
                </li>
                <li>
                    <a href="/services">
                        <span class="las la-clipboard-list"></span>
                        <small>Dịch vụ</small>
                    </a>
                </li>
                <li>
                    <a href="/patients">
                        <span class="las la-envelope"></span>
                        <small>Bệnh nhân</small>
                    </a>
                </li>               
                <li>
                    <a href="/slots">
                        <span class="las la-shopping-cart"></span>
                        <small>Thời gian làm việc</small>
                    </a>
                </li>
                <li>
                    <a href="/users">
                        <span class="las la-tasks"></span>
                        <small>Người dùng</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>